<section id="404" class="404-page">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    <p>Sorry, an error has occured, Requested page not found!</p>
                </div>
                <div class="error-actions">
                    <a href="#/home" class="btn btn-primary btn-lg">Tagasi</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section><!-- cd-section -->