<section id="section-second" class="secondblock">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sub-title">
                    <h3>Vali sobiv maht</h3>
                </div>
            </div>
            <!--close col-12-->
            <div class="col-xs-12 col-md-10">
                <div class="info">
                    <p>Mahupileti valikul arvesta ka sellega,et <span>mahtu saab kasutada</span> kuni käesoleva <span>kuu lõpuni(31.012016) !<br></span>Kusti
                        Maasikas: <span>lipinguline maht 25GB</span>
                    </p>
                </div>
            </div>
            <!--close col-xs-12 col-md-10-->
            <div class="col-xs-12">
                <div class="service text-left">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="service-icon text-center">
                                        <i class="icon-windows"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="service-info">
                                        <h3>1 GB</h3>
                                        <ul>
                                            <li><i class="icon-basic-tick"></i>

                                                <p>Email with 50 GB mailbox</p></li>

                                            <li><i class="icon-basic-tick"></i>

                                                <p>1 TB file storage and sharing</p></li>
                                            <li><i class="icon-basic-tick"></i>

                                                <p>HD video conferencing</p></li>
                                            <li><i class="icon-basic-tick"></i>

                                                <p>Office Online</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5 col-sm-6 col-sm-offset-6">
                                    <div class="service-cost">
                                        <p>5 <i class="icon-euro-currency"></i></p>
                                        <a class="btn" href="#/tellimus" ng-click="changeClassSecond()"><button class="A-btn">Vali</button></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--close first-service-block-->
            </div>
            <!--close col-12-->
            <div class="col-xs-12">
                <div class="service text-left">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="service-icon text-center">
                                        <i class="icon-windows"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="service-info">
                                        <h3>5 GB</h3>
                                        <ul>
                                            <li><i class="icon-basic-tick"></i>

                                                <p>Email with 50 GB mailbox</p></li>

                                            <li><i class="icon-basic-tick"></i>

                                                <p>1 TB file storage and sharing</p></li>
                                            <li><i class="icon-basic-tick"></i>

                                                <p>HD video conferencing</p></li>
                                            <li><i class="icon-basic-tick"></i>

                                                <p>Office Online</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5 col-sm-6 col-sm-offset-6">
                                    <div class="service-cost">
                                        <p>7 <i class="icon-euro-currency"></i></p>
                                        <a class="btn" href="#/tellimus" ng-click="changeClassSecond()"><button class="A-btn">Vali</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--close second-service-block-->
            </div>
            <!--close col-12-->
        </div>
        <!--close row-->
    </div>
    <!--close container-->
</section><!-- section-second -->