<section id="section-first" class="firstblock">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sub-title">
                    <h3>Vali kasutaja,kelle soovid interneti mahtu juurde osta</h3>
                </div>
            </div>
            <!--close col-12-->
            <div class="col-xs-12">
                <div class="info">
                    <p>Kui soovid, saada anda kasutajale võimaluse ise oma seadmest mahtu juurde osta: <br>
                        <a href="javascript:void(0)"><span>Kasutajatele ise lisamahu ostmiseks õiguste andmine</span></a>
                    </p>
                </div>
            </div>
            <!--close col-12-->
            <div class="col-xs-12">
                <div class="service text-left">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="service-client-one">
                                        <h4>Mari Maasikas 54 323 121</h4>
                                        <a href="#/mahu-valik" ng-click="changeClassFirst()">Vali</a>

                                        <p>Lepinguline internetimaht 25GB</p>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="service-client-two">
                                        <h4>Kusti Maasikas 54 323 121</h4>

                                        <p><i class="icon-exclamation"></i>Lepinguline internetimaht 25GB. <span>Lepinguline maht on otsas.</span>
                                        </p>
                                        <a href="#/mahu-valik" ng-click="changeClassFirst()">Vali</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-client-three">
                                <h4>Pille Maasikas 54 323 121
                                </h4>

                                <p>Lepinguline internetimaht 25GB. Lepinguline maht on otsas. <br> <span>On ostetud lisamaht 25GB.</span>
                                    Kehtib kuni 31.01.2016</p>
                                <span></span>
                                <a href="#/mahu-valik" ng-click="changeClassFirst()">Vali</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--close service-block-->
            </div>
            <!--close col-12-->
        </div>
        <!--close row-->
    </div>
    <!--close container-->
</section><!-- section-first -->