<section id="section-third" class="thirdblock">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sub-title">
                    <h3>Tellimuse kokkuvõte</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="subscription">
            <div class="row">
                <div class="col-xs-12">
                    <div class="info">
                        <p>Valitud kasutaja(d)</p>
                        <span>Kusti Maasikas 54 323 121</span>
                    </div>
                </div>
                <!--close col-12-->
                <div class="col-xs-12">
                    <div class="service-title">
                        <p>Valitud maht</p>
                    </div>
                </div>
                <!--close col-12-->
                <div class="col-xs-12">
                    <div class="service text-left">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="service-icon text-center">
                                            <i class="icon-windows"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="service-info">
                                            <h3>5 GB</h3>
                                            <ul>
                                                <li><i class="icon-basic-tick"></i>

                                                    <p>Email with 50 GB mailbox</p></li>

                                                <li><i class="icon-basic-tick"></i>

                                                    <p>1 TB file storage and sharing</p></li>
                                                <li><i class="icon-basic-tick"></i>

                                                    <p>HD video conferencing</p></li>
                                                <li><i class="icon-basic-tick"></i>

                                                    <p>Office Online</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5 col-sm-6 col-sm-offset-6">
                                        <div class="service-cost">
                                            <p>Hind 7 <i class="icon-euro-currency"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--close service-block-->
                </div>
                <!--close col-12-->
                <div class="col-xs-12">
                    <div class="row">
                        <div class="order-confirmation">
                            <p>Hind kokku: <span>7€</span> lisatakse Sinu järgmise kuu arvele <br> Kehtiv kohe peale
                                tellimuse kinnitamist</p>
                            <form name="frm">
                                <div>
                                    <input ng-model="conditions" type="checkbox" id="checkbox-1" class="checkbox-custom" name="checkbox-1">
                                    <label for="checkbox-1" class="checkbox-custom-label"></label>
                                    <p>Olen <a class="external-link" href="javascript:void(0)" target="_blank">Tutvunud tingimustega</a> <i class="icon-external-link"></i> ja teadlik, mahtu saab kasutada kuni 31.01.2016, kell 23.59.</p>
                                </div>

                            </form>
                            <input ng-click="changeClassThird()" class="A-btn" id="send" type="submit" name="send"  ng-disabled="frm.$invalid || !conditions" value="Kinnita tellimus"/>

                            <a href="javascript:void(0)">Tühista tellimus</a>
                        </div>
                    </div>
                </div>
                <!--close col-12-->
            </div>
            <!--close row-->
        </div>
        <!--close subscription-->
    </div>
    <!--close container-->
</section><!-- section-third -->