<header>
    <div id="top" class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="javascript:void(0)" disabled="disabled">Avaleht</a></li>
                    <li><a href="javascript:void(0)" disabled="disabled">Iseteenindus</a></li>
                    <li class="active">Interneti lisamahu tellimine</li>
                </ul>
            </div>
            <div class="col-xs-12 title">
                <h2>Interneti lisamahu tellimine</h2>
            </div>
            <div class="col-xs-12">
                <ul class="step-nav">
                    <li>
                        <a class="current-page" ng-class="current">
                        <span class="number" ng-class="FirstClass"></span>
                        <span class="desc">
                            <label>Numbrite-valik</label>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a ng-class="Current">
                            <span class="number" ng-class="SecondClass"></span>
                        <span class="desc">
                            <label>Mahu-valik</label>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a ng-class="CurrentSecond">
                            <span class="number" ng-class="ThirdClass"></span>
                        <span class="desc">
                            <label>Tellimus</label>
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>



