
.carousel-caption {
  padding: 0;
  margin: 0;
  text-shadow: none;
  width: 100%;
  bottom: initial;

  p {
    color: $white;
    @extend .helvetica-neue-bold;
    text-shadow: none;
    font-size: 44px;
    width: 100%;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-indicators .active {
  background: $heavy-grey;
  border: none;
  width: 16px;
  height: 16px;
  margin: 8px;

}

.carousel-indicators li {
  background: $dark-grey;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin: 8px;

}

.carousel-indicators {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 0px;

}

.carousel-indicators {
  padding-bottom: 30px;
}

.carousel-bg .carousel-inner .item {
  background-color: darkslategrey;
  background-size: cover;
  background-position: center;
  min-height: 360px;
}

.slide {
  margin-top: 30px;
}

.details {
  padding-top: 15px;
  padding-bottom: 30px;
  @extend .helvetica-light;
  font-size: 26px;
}

.details h1 {
  font-size: 26px;
  text-align: center;
  padding-bottom: 40px;
}

.details .back-link {
  text-align: center;
}

.details .back-link a {
  display: inline-block;
  margin: 20px 0;
  padding: 15px 30px;
  background: #333;
  color: #fff;
  border-radius: 24px;
}

.details .back-link a svg {
  margin-right: 10px;
  vertical-align: text-top;
  display: inline-block;
}
.slider-two{
  background-image: url(../img/one.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}