$extra-light-grey: #f2f2f2;
$light-grey: #cccccc;
$white: #ffffff;
$dark-grey: #666666;
$grey: #999999;
$red: #cc3333;
$pink: #e3097e;
$purple: #993399;
$dark-green: #009933;
$light-green: #66cc33;
$light-blue: #3399cc;
$dark-blue: #333366;
$dark-purple-blue: #333399;
$black: #333333;
$heavy-grey: #353535;