nav.navbar.navbar-default.navbar-fixed-top {
  background: $heavy-grey;
  color: $white;
  .navbar-brand {
    img {
      display: block;
      width: 54px;
      height: 53px;
    }
  }
}

ul.nav.navbar-nav li a {
  color: $white;
  font-size: 14px;
  @extend .helvetica-neue-medium;
}

nav.navbar.navbar-default.navbar-fixed-top {
  height: 112px;
}

ul.nav.navbar-nav {

}

.navbar-collapse form[role="search"] button, .navbar-collapse form[role="search"] input {
  background: none;
  color: $white;
}

.active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $white !important;
  background: none !important;
}

.navbar-collapse.in {
  overflow: hidden;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: inherit !important;
}

$speed: 200ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);

.navbar-toggle {
  overflow: hidden;

  .icon-bar {
    transition: opacity, transform;
    transition-duration: $speed;
    transition-timing-function: $easing;
  }

  &:not(.collapsed) {
    .icon-bar {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

.navbar-default {
  border: none;
}

.top-navbar {
  a {
    color: $white;
    text-decoration: none;
  }
  i.envelope {
    font-size: 25px;
    color: $grey;
  }
  i.print {
    font-size: 25px;
    color: $grey;
  }
  .navbar-collapse form[role="search"] button {
    padding: 0px;
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}

.navbar-collapse form[role="search"] {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 2;
  border: 0px !important;
}

.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
  padding: 8px 12px;
  border-radius: 0px;
  border-width: 0px;
  color: rgb(119, 119, 119);
  box-shadow: none;
  outline: none;
}

.input-group {
  width: 100% !important;
}

.navbar-collapse form[role="search"] input {
  padding: 16px 12px;
  font-size: 14pt;
  font-style: italic;
  color: rgb(160, 160, 160);
  box-shadow: none;
}

.navbar-collapse form[role="search"] button[type="reset"] {
  display: none;
}

.navbar-brand {
  position: relative;
  z-index: 1;
}


.navbar-collapse {
  position: relative;
  height: 100%;
  border: 0px !important;
}

.navbar-toggle {
  padding: 30px 20px;
}

.navbar-header {
  img {
    padding: 10px;
  }
}

.customer-website-btn {
  font-size: 14px;
  @extend .helvetica-neue;
  border: 2px solid $light-blue;
  border-radius: 2px;
  padding: 5px 15px !important;
  margin-top: 10px;
  display: block;
}



.form-control {
  @extend .helvetica-neue;
  font-size: 14px !important;
  padding: 5px !important;
}