@mixin col-xs() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin col-sm() {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin col-md() {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin col-lg() {
  @media (min-width: 1200px) {
    @content;
  }
}




@include col-xs() {
  .form-control {
    margin-left: 10px;
  }
  .secondnav {
    padding: 15px !important;
  }
  .customer-website-btn {
    border: 0px !important;
  }
  nav.navbar.navbar-default.navbar-fixed-top {
    height: 90px !important;
  }
  .navbar-nav {
    padding-top: 40px;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    min-height: 100%;
  }
  #bs-example-navbar-collapse-1 {
    background: $heavy-grey;
  }
  .fourthblock h2 {
    padding-top: 0px;
  }
  .fourthblock h2:first-child {
    padding-top: 10px;
  }
  .fourthblock p {
    padding-bottom: 0px;
  }
  .carousel-caption p {
    font-size: 24px;
  }
  .details h1 {
    font-size: 18px;
  }
  .card-block {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid #ddd;
  }
  .fifthblock .social .social-icons i {
    padding-top: 15px;
  }
  .social .social-icons ul {
    display: block !important;

  }
  .fifthblock .social .social-icons li {
    padding: 5px;
  }
  .social-icons {
    text-align: center;
  }
  .footer-info.text-left {
    text-align: center;
  }
  .footer-logo {
    height: 53px !important;
  }
  .footer-logo img {
    position: inherit !important;
    padding-top: 30px;
  }
  .second-footer-text-left {
    text-align: left !important;
  }
  .position-block {
    img {
      padding-top: 0px !important;
    }

  }
}

@include col-sm() {
  .form-control {
    margin-left: 10px;
  }
  .navbar-form .input-group .form-control {
    width: 100%;
  }
  .secondnav {
    padding-top: 15px !important;
  }
  .customer-website-btn {
    border: 0px !important;
  }

  nav.navbar.navbar-default.navbar-fixed-top {
    height: 90px !important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  ul.nav.navbar-nav li:first-child {
    display: block;
    padding-top: 51px;
  }
  .carousel-caption p {
    font-size: 32px;
  }
  .details h1 {
    font-size: 21px;
  }
  .card-block {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid #ddd;
  }
  .navbar-collapse {
    max-height: 100% !important;
  }
  .nav.navbar-nav {
    margin: 0px !important;
  }
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
    overflow-y: auto !important;
  }

  .navbar-nav {
    margin: 0;
    float: none !important;
  }

  .navbar-nav li {
    float: none;
  }

  .navbar-nav li > .dropdown-menu {
    border: 0;
    float: none;
    width: auto;
    position: static;
    box-shadow: none;
    background: inherit;
  }
  .fifthblock .social .social-icons li {
    padding: 5px;
  }
  .social-icons {
    text-align: center;
  }
  .footer-logo {
    height: 53px !important;
  }
  .footer-logo img {
    position: inherit !important;
    padding-top: 30px;
  }
  .second-footer-text-left {
    text-align: left !important;
  }
  .position-block {
    img {
      padding-top: 0px !important;
      text-align: left;
      padding: 5px;
    }

  }
  #bs-example-navbar-collapse-1 {
    background: $heavy-grey;
  }

}

@include col-md() {
  .footer-logo {
    img {
      padding-left: 28px;
    }
  }
  ul.nav.navbar-nav li {
    display: block;
    padding-top: 45px;
  }
  .navbar-collapse {
    padding-top: 0px !important;
    padding-right: 38px !important;
  }
  .navbar-collapse form[role="search"] {
    width: 38px;
  }
  .navbar-collapse form[role="search"] button,
  .navbar-collapse form[role="search"] input {
    padding: 15px 12px;
  }
  .navbar-collapse form[role="search"] input {
    font-size: 18pt;
    opacity: 0;
    display: none;
    height: 50px;
  }
  .navbar-collapse form[role="search"].active {
    width: 100%;
  }
  .navbar-collapse form[role="search"].active button,
  .navbar-collapse form[role="search"].active input {
    display: table-cell;
    opacity: 1;
  }
  .navbar-collapse form[role="search"].active input {
    width: 100%;
  }
}

@include col-lg() {
  .footer-logo {
    img {
      padding-left: 28px;
    }
  }
  ul.nav.navbar-nav li {
    display: block;
    padding-top: 45px;
  }
  .navbar-collapse {
    padding-top: 0px !important;
    padding-right: 38px !important;
  }
  .navbar-collapse form[role="search"] {
    width: 38px;
  }
  .navbar-collapse form[role="search"] button,
  .navbar-collapse form[role="search"] input {
    padding: 15px 12px;
  }
  .navbar-collapse form[role="search"] input {
    font-size: 18pt;
    opacity: 0;
    display: none;
    height: 50px;
  }
  .navbar-collapse form[role="search"].active {
    width: 50%;
  }
  .navbar-collapse form[role="search"].active button,
  .navbar-collapse form[role="search"].active input {
    display: table-cell;
    opacity: 1;
  }
  .navbar-collapse form[role="search"].active input {
    width: 100%;
  }
}




